.wrapper-first {
    background: #2C2D33;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width: 430px;
    height: 448px;
    margin: 50px auto;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    padding: 0%;
}

h2 {
    font: 600 16px "Roboto";
    line-height: 19px;
    color: #828282;
    padding-top: 28px;
    margin-left: 45px;

}

h1 {
    font: 500 40px "Roboto";
    line-height: 47px;
    letter-spacing: -0.0375em;
    color: #FFFFFF;
    padding-top: 4px;
    margin-left: 45px;
}

h3 {
    font: 400 14px "Roboto";
    line-height: 16px;
    color: #FFFFFF;
    padding-top: 4px;
    margin-left: 45px;
}

.line {
    margin-top: 27px;
    border: 2px solid #4F4F4F;

}

.table {
    background-image: url(./Group2281.png);
    width: 364px;
    height: 197px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 29px;
    margin-top: 18px;
}

.product {
    display: flex;
    margin-top: 44px;
    margin-left: 72px;
    
}

.button {
    background: #63ABFD;
    height: 8px;
    width: 21px;

}

.text{
     font: 400 15px "Inter";
    line-height: 12px;
    /* text-align: center; */
    color: #FFFFFF;
    margin-left: 9px;
    padding-bottom: 31px;
   
    
}